<div class="container">
  <div class="row">
    <div class='mx-auto col'>
      <h2>Follower Users</h2>
      <table class="table">
        <% if @followed.exists? %>
          <tr>
            <td>image</td>
            <td>name</td>
            <td colspan="3"></td>
          </tr>
          <% @followed.each do |followed| %>
            <tr>
              <td><%= image_tag followed.get_profile_image, size: '50x50' %></td>
              <td><%= followed.name %></td>
              <td>フォロー数：<%= @follows.where(follower_id: followed.id).count %></td>
              <td>フォロワー数：<%= @follows.where(followed_id: followed.id).count %></td>
              <td><%= link_to 'Show', user_path(followed) %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5">ユーザーはいません</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>