<% if @range == "Book" %>
  <% unless @books.exists? %>
    <h3>no book</h3>
  <% else %>
    <h3><%= pluralize(@books.count, "#{@range}") %> search for "<%= "#{@word}" %>"</h3>
  <% end %>
<% else %>
  <% unless @users.exists? %>
    <h3>no user</h3>
  <% else %>
    <h3><%= pluralize(@users.count, "#{@range}") %> search for "<%= "#{@word}" %>"</h3>
  <% end %>
<% end %>

<% if @range == "Book" %>
  <%= render 'books/index',books: @books %>
  <!--<thead>-->
  <!--  <th></th>-->
  <!--  <th>Title</th>-->
  <!--  <th>Opinion</th>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<%# @books.each do |book| %>-->
  <!--  <tr>-->
  <!--    <th><%#= image_tag book.user.get_profile_image, size: '50x50' %></th>-->
  <!--    <th><%#= link_to book.title, book_path(book) %></th>-->
  <!--    <th><%#= book.body %></th>-->
  <!--  </tr>-->
  <!--<%# end %>-->
  <!--</tbody>-->
<% else %>
  <%= render 'users/index',users: @users,follow: @follow %>
<% end %>
